* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', Open Sans, Roboto, sans-serif;
  font-size: 1.5vh;
  line-height: 1.42857143;
  color: #333;
}
.container {
  width: 100%;
}

.aod_logo_2 {
  background: url("../images/main-logo.png")no-repeat center center;
  padding-bottom: 110px;
  width: 94px;
  height: 85px;

  display: none;
}

.menu {
  height: 200px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #f4f5fc;
  padding-top: 60px;
  margin-left: -10px;
}

.left_menu .right_menu  {
  display: flex;
  flex-direction: row;

}

.ul_left_menu {
  display: flex;
  flex-direction: row;
}

.hidden-li {
  margin-top: 10px;
}

.hidden-menu {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin-top: 20px;
  display: none;
}

.main-li {
  display: inline-block;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 20px;
  -webkit-margin-end: 0;
  -webkit-padding-start: 40px;
  letter-spacing: 2px;
}

.visible-li {
  display: flex;
  flex-direction: column;
}

@media (max-width: 900px){
.menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .left_menu {
    margin-left: -12%;
  }
  .right_menu {
    margin-left: -12%;
  }
  .ul_left_menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .visible-li {
    text-align: left;
  }
  .hidden-li {
    margin-top: 5px;
  }
  .aod_logo_1 {
    display: none;
  }
  .aod_logo_2 {
    display: inline-block;
    margin-left: 42%;
  }
}

.hov {
  color: #4d4959;
  cursor: auto;
  text-decoration: none;
  transition-property: all;
  transition-duration: 0.25s;
  transition-timing-function: ease;
  transition-delay: initial;
}

.hov:hover {
  color: #5ec29d;
}

.aod_logo_1 {
  background: url("../images/main-logo.png");
  background-position: center;
  background-repeat: no-repeat;
  width: 94px;
  height: 85px;
  margin: -20px 40px 0 70px;
}


.first {
  background-image: url("../images/hero-bg.jpg");
  background-repeat: no-repeat;
  background-color: #f4f5fc;
  background-size: cover;
  background-position-x: center;
  background-position-y: top;
  background-repeat-x: no-repeat;
  background-repeat-y: no-repeat;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  height: 700px;
}

.intro {
  height: 450px;
  display: flex;
  flex-direction: column;
  background-color: #fbfbfb;
}

@media (max-width: 1500px){
  .intro {
    height: 10%;
    padding: 0 12%;
  }
}

@media (max-width: 1100px){
  .intro {
    padding: 0 12%;
  }
}

@media (max-width: 800px){
  .intro {
    padding: 0 12%;
  }
}

@media (max-width: 700px){
  .intro {
    padding: 0 12%;
  }
}

.intro h1 {
  text-align: center;
  color: #353738;
  letter-spacing: 2px;
  font-size: 18px;
  font-weight: 600;
  background: url("../images/cog-icon.png") no-repeat top center;
  padding-top: 75px;
  margin-top: 100px;
}

.intro p {
  display: block;
  text-align: center;
  color: #5b5656;
  margin-top: 25px;
  margin-bottom: 110px;
  font-size: 17px;
  letter-spacing: 1px;
  font-weight: 300;
  line-height: 2em;
}

.chain_pic {
  height:50px;
  width: 50px;
  background-image: url("../images/cog-icon.png");
  background-repeat: no-repeat;
  background-color: #f4f5fc;
  background-size: cover;
}

.third_cont {
  height: 600px;
  display: flex;
  flex-direction: row;
}


.third_left_center {
  background: url("../images/left-box-1.jpg") no-repeat center center;
  background-size: cover;
  width: 67%;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.left_pic {
  width: 113px;
  height: 118px;
  background: url("../images/bicycle-logo.png");
  margin: 0 auto;

}

.third_right {
  height: 600px;
  width: 33%;
  display: flex;
  flex-direction: column;
}

@media (max-width: 1000px){
  .third_cont {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 130vh;
  }
  .third_left_center {
    width: 100%;
  }
  .third_right {
    width: 100%;
  }
}

.oliva {
  height: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.oliva_text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.oliva h2 {
  text-align: center;
  color: #353738;
  letter-spacing: 2px;
  font-size: 18px;
  font-weight: 600;
  background: url("../images/frame-icon.png") no-repeat top center;
  padding-top: 50px;
}

.oliva p {
  display: block;
  color: #5b5656;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 300;
  line-height: 1.8em;
  text-align: justify;
  margin-top: 15px;
  width: 80%;
}

@media (max-width: 1000px){
  .oliva {
    height: 200%;
  }
}

.thin-sep {
  height: 1px;
  width: 50px;
  background-color: #5b5656;
  margin: 8% auto 0 auto;
}

.right_pic_bottom {
  background: url("../images/seat-red.jpg") no-repeat center center;
  background-size: cover;
  height: 200px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.arrow {
  background: url("../images/arrow.png") no-repeat;
  height: 20px;
  width: 20px;
  margin-top: -1px;
}

.fourth_cont {
  height: 600px;
  display: flex;
  flex-direction: row;
}

.fourth_left {
  height: 600px;
  width: 34%;
  display: flex;
  flex-direction: column;
}

.boriosa {
  height: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.boriosa_text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.boriosa_text h2 {
  text-align: center;
  color: #353738;
  letter-spacing: 2px;
  font-size: 18px;
  font-weight: 600;
  background: url("../images/mech-icon.png") no-repeat top center;
  padding-top: 50px;
}

.boriosa_text p {
  color: #5b5656;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 300;
  line-height: 1.8em;
  text-align: justify;
  margin-top: 15px;
  width: 80%;
}

.left_pic_bottom {
  background: url("../images/seat-black.jpg") no-repeat center center;
  background-size: cover;
  height: 200px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.fourth_center_right {
  background: url("../images/left-box-2.jpg") no-repeat center center;
  background-size: cover;
  width: 66%;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.vintage_logo {
  width: 177px;
  height: 152px;
  background: url("../images/vintage-logo.png");
  margin: 0 auto;
}

@media (max-width: 1000px){
  .fourth_cont {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 200%;
  }
  .fourth_left {
    width: 100%;
  }
  .boriosa {
    width: 100%;
    height: 100%;
  }
  .fourth_center_right {
    width: 100%;
  }
}

.fifth_cont {
  height: 600px;
  display: flex;
  flex-direction: row;
}

.left_pic_red_frame {
  background: url("../images/red-frame.jpg") center center no-repeat;
  background-size: cover;
  width: 34%;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.bicycles_logo {
  width: 208px;
  height: 67px;
  background: url("../images/bicycles-sml-logo.png");
  margin: 0 auto;
}

.fifth_center {
  height: 600px;
  width: 33%;
  display: flex;
  flex-direction: column;
}

.text_hulot {
  height: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hulot {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hulot h2 {
  text-align: center;
  color: #353738;
  letter-spacing: 2px;
  font-size: 18px;
  font-weight: 600;
  background: url("../images/front-icon.png") no-repeat top center;
  padding-top: 60px;
}

.hulot p {
  display: block;
  color: #5b5656;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 300;
  line-height: 1.8em;
  text-align: justify;
  margin-top: 15px;
  width: 80%;
}

.mavic_pic {
  background: url("../images/chrome-wheels.jpg") no-repeat center center;
  background-size: cover;
  height: 200px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.fifth_right {
  background: url("../images/red-bike.jpg") center center no-repeat;
  background-size: cover;
  width: 33%;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (max-width: 1000px){
  .fifth_cont {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 200%;
  }
  .left_pic_red_frame {
    width:100%;
  }
  .fifth_center {
    width: 100%;
  }
  .fifth_right {
    width:100%;
  }
}

.slide_sixth {
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f7f7f7;
}

.slider {
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.slide.invisible {
  display: none;
}

.twitter-logo {
  width: 32px;
  height: 27px;
  background: url("../images/twitter-bird.png") center center no-repeat;
  margin: 30px auto;
  text-align: center;
}

.twitter-post {
  color: #353738;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  letter-spacing: 2px;
  margin: 0.83em 0;
}

.twitter-post span {
  color: #848789;
  font-weight: 300;
}

.slide-text {
  color: #848789;
  font-size: 24px;
  font-style: italic;
  font-weight: 300;
  margin-bottom: 100px;
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
  letter-spacing: 2px;
  text-align: center;
  line-height: 1.8em;
}

@media (max-width: 1000px) {
  .slide_sixth {
    height: 650px;
  }
  .slide-text {
    width: 75%;
  }
  .twitter-post {
    margin-top: 180px;
  }
}

.slider-controls {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@media (max-width: 1000px) {
  .slider-controls {
    margin-top: 170px;
    margin-bottom: -10%;
  }
}

.control-dot {
  background: #f7f7f7;
  margin-right: 10px;
  width: 15px;
  height: 15px;
  border: 1px solid #848789;
  border-radius: 50%;
  cursor: pointer;
}

.control-dot.active {
  background: #848789;
}

.seventh_cont {
  height: 600px;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.seventh_left {
  height: 600px;
  width: 34%;
  display: flex;
  flex-direction: column;
}

.seventh_left_top {
  height: 300px;
  display: flex;
  flex-direction: row;
}

.small_black_saddle {
  height: 100%;
  width: 50%;
  background: url("../images/l1.jpg") center center no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.img_animated {
  width: 25%;
  margin: 0 auto;
  visibility: hidden;
}

 .expand {
  text-align: center;
  font-size: 23px;
  color: #fff;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  visibility: hidden;
}

.saddles {
  height: 100%;
  width: 50%;
  background: url("../images/l2.jpg") center center no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.seventh_left_bottom {
  height: 50%;
  width: 100%;
  background: url("../images/l3.jpg") center center no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.seventh_left_bottom .img_animated {
  width: 12%;
}

.seventh_center {
  height: 600px;
  width: 33%;
  display: flex;
  flex-direction: row;
}

.half_left {
  height: 100%;
  width: 50%;
  background: url("../images/l4.jpg") center center no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.half_right {
  height: 100%;
  width: 50%;
  background: url("../images/l5.jpg") center center no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.seventh_right {
  height: 600px;
  width: 33%;
  display: flex;
  flex-direction: column;
}

.seventh_right_top {
  height: 50%;
  width: 100%;
  background: url("../images/l6.jpg") center center no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.seventh_right_top .img_animated {
  width: 12%;
}

.seventh_right_bottom {
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.brown_saddle {
  height: 100%;
  width: 50%;
  background: url("../images/l7.jpg") center center no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.blue_bag {
  height: 100%;
  width: 50%;
  background: url("../images/l8.jpg") center center no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.button_cont {
  width: 100%;
  height: 160px;
  background: #282f35;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.shop-button {
  border: 1px solid #bbb;
  padding: 15px 50px;
  color: #fff;
  letter-spacing: 3px;
  font-size: 400;
}

.shop-button:hover {
  border: 1px solid #5ec29d;
}

@media (max-width: 1000px){
  .seventh_cont {
    height: 1100px;
    display: flex;
    flex-direction: column;
  }
  .seventh_left {
    width: 100%;
  }
  .seventh_center {
    width: 100%;
  }
  .seventh_right {
    width: 100%;
  }
  .seventh_left_top {
    height: 100%;
  }
  .seventh_left_bottom {
    height: 100%;
  }
  .half_left {
    height: 100%;
  }
  .half_right {
    height: 100%;
  }
  .seventh_right_top {
    height: 100%;
  }
  .seventh_right_bottom {
    height: 100%;
  }
}

.form {
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
  align-items: center;
}

.logo_slogan {
  width: 30%;
  height: 45%;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
  align-items: center;

}

.logo_header {
  text-align: center;
  color: #848789;
  letter-spacing: 1px;
  font-size: 24px;
  font-weight: 300;
  background: url("../images/main-logo.png") no-repeat top center;
  padding-top: 110px;
  font-style: italic;
}

.form_cont {
width: 600px;
display: flex;
flex-direction: row;
align-items: center;
}

.email_signup {
  cursor: auto;
}

input {
  border: solid 1px #d3d7d9;
  padding: 25px;
  width: 380px;
  color: #929292;
  font-style: italic;
  letter-spacing: 1px;
  line-height: normal;
  font-size: 14px;
  cursor: pointer;
}

.submit_btn {
  background: #64c29e;
  color: #fff;
  border: solid 1px #64c29e;
  font-weight: 300;
  padding: 24px 50px;
  font-size: 16px;
  margin-left: 2px;
  vertical-align: baseline;
  width: 150px;
  cursor: pointer;
}

@media (max-width: 1000px){
  .form_cont {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

  }
  input {
    width: 280px;
  }
}


footer {
  width: 100%;
  height: 300px;
  background: #f7f7f7;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

@media (max-width: 1000px){
  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 500px;
  }
}

.address {
  color: #848789;
  font-weight: 300;
  word-spacing: 2px;
  line-height: 1.8em;
}

@media (max-width: 1000px){
  .address {
    margin: 0 auto;
  }
}

span {
  font-size: 15px;
  font-weight: bold;
}

.address a {
  text-decoration: none;
  color: #848789;
  font-weight: 400;
}

.list_icons {
  list-style-type: disc;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 auto;
}

.twitter {
  background: url('../images/twitter-icon.png');
  height: 34px;
  width: 35px;
  display: block;
  margin-right: 15px;
  cursor: pointer;
}

.facebook {
  background: url('../images/facebook-icon.png');
  height: 34px;
  width: 35px;
  display: block;
  margin-right: 15px;
  cursor: pointer;
}

.pinterest {
  background: url('../images/pintrest-icon.png');
  height: 34px;
  width: 35px;
  display: block;;
  cursor: pointer;
}

.twitter:hover {
  opacity: 0.5;
}

.facebook:hover {
  opacity: 0.5;
}

.pinterest:hover {
  opacity: 0.5;
}

.designed p {
  color: #848789;
  word-spacing: 2px;
  line-height: 1.8em;
  text-align: center;
  font-style: italic;
  font-weight: 300;
  margin-right: 100px;
}

@media (max-width: 1000px){
  .designed p {
    margin: 0 auto;
  }
}

.yebo {
  margin-left: 10px;
}
